* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
    font-weight: bold;
}

.main_title{
    margin-top: 5px;
}

.container {
    background-color: aquamarine;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.recipes {
    display: inline-block;
    border: solid 3px;
    margin: auto;
    padding: 10px;
}